@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

html, body {
    height: 100%;
}

body {
    background-color: #3f9f60 !important;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}